/*FONTS*/
@font-face {
    font-family: 'Trattatello';
    src: url('fonts/Trattatello.ttf');
}

@font-face {
    font-family: 'Futura';
    src: url('fonts/Futura.ttc');
}

body {
  background-color: #f3efe0;
}

header {
  padding-left: 20px;
}

h1.title {
  font-family: 'Trattatello';
  font-size: 3em;
  color: #6c5353;
  text-transform: none;
}

h1 {
  font-size: 2em;
  color: #f1bf00;
  text-transform: uppercase;
  /*font-size: 1em;*/
}

h1, h2, h3, p, label {
  font-family: Futura, Helvetica;
}

label {
  border: 10px;
}

.error p {
  color: #FF6961;
}

table {
  font-family: "Futura", Helvetica;
  width: 80%;
}

hr {
  border: 1px solid #f1bf00;
}

a {
  text-decoration: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.centerText {
  text-align: center;
}

section {
  text-align: center;
}

input {
  font-family: "Helvetica";
  font-size: 1em;
  border-radius: .3em;

  letter-spacing:1px;
  width: 200px;
  height: 25px;
  border: 1px solid white;
  background-color: white;
  margin-bottom: 10px;
  outline: 0;
}

input:focus, select:focus, textarea:focus {
  border: 1px solid #f1bf00;
}

select {
  margin: 10px;

  font-size: 1em;
  font-family: "Futura", Helvetica;
  width: 200px;
  height: 25px;
  border: 1px solid #ccc;
  background-color: white;
  outline: 0;
}

textarea {
  margin: 10px;
  font-size: 1em !important;
  font-family: "Helvetica";
  border-radius: .3em;

  letter-spacing:1px;
  width: 60%;
  border: 1px solid white;
  background-color: white;
  outline: 0;
  max-width: 80%;
  height: 80px;
  max-height: 100%;
}

.answerRow {
  width:20%;
}

.questionRow {
  width:40%;
}

.button {
  font-family: "Futura";
  font-size: 1em;
  border-radius: .5em;
  color: white;

  border: 1px solid transparent;

  letter-spacing:1px;
  width: 200px;
  height: 30px;
  border: 0px;
  background-color: #aa151b;

  margin: 10px;
}

.bigButton {
  font-family: "Futura";
  font-size: 1em;
  border-radius: .5em;
  margin: 10px;

  letter-spacing:1px;
  width: 200px;
  height: 80px;
  border: 0px;
}

.textButton {
  font-family: "Futura";
  border: 1px solid white;
  background-color: none;
  width: auto;
}

.redLink {
  color: #aa151b;
  font-family: "Futura";
  font-size: 1em;
}

.backLink {
  margin-left: 20px;
}

.roundButton {
  font-family: "Futura";
  font-size: 1em;
  color: white;
  width: auto;
  border-radius: 50%;
  border: 0px;
  background-color: #aa151b;
}

.adminBtnColor1 {
  color: white;
  background-color: #4d4d4d;
}

.adminBtnColor2 {
  color: white;
  background-color: #999999;
}
