ul li {list-style-type:square;}
ol li {font-size:12 px; list-style-type:upper-roman;}
#nav ol li {margin:0.5em;display:inline;}
#nav ul li a {color:green; margin-left: 20px; border-top: 1px;}
a:link {color:gray;}
a:visited {color:rgb(100%,0%,0%);}


table {
    border: 1px dotted grey;
    background-color: #EEE;
}

th {
    color: black;
    font-size: 1.2em;
}

td {
  color: grey;
  font-family: Helvetica;
}

caption {
  color: #00B;
  font-size: 1.5em;
  font-family: Futura;
}
