
    body{
      color: red;
      font-family: arial, helvetica;
      background-color: #B1D18A;
    }

    h1,h4 {
      color: purple;
      }

    h1.dropcap:first-letter {
      font-weight: bold;
      font-size: 36pt;
      color:#D0F99E;
      }
    a:hover {
      font-weight:bold;
      color:green;
      }
    h2 {
      color:green;
      font-family:sans-serif;
      font-size:10px;
      border:solid thick;
      text-align:center;
      }
    span.docintro{
      color: rgb(0,0,255);
      } /*blue*/
    nav {
      color:#00FFFF;
      background-color:#92B865;
      }
    .firstsentence{
      font-weight:bold;
    }
    .detail{
      font-size:8pt;
      margin:24pt;
      color:#00FF00;
      } /*green*/
    footer{color:#000000;} /*black*/
    .fs2em {
      font-size:2em;
      }

    .fs24px {
      font-size:24px;
      }
    .fs120prcnt {
      font-size: 1.2em;
    }
    .fs24pt {
      font-size:24pt;
      }
    .fsin {
      font-size:.5in;
      }
    {color:red;font-size:36px;margin-left:50px;}
